<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help Page</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="assets/plugins/prism/prism.css">
    <link rel="stylesheet" href="assets/plugins/elegant_font/css/style.css">  
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    
</head> 

<body class="">
    <div class="page-wrapper">
        <header id="header" class="header">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <a href="/">
                            <span aria-hidden="true" class="icon_documents_alt icon"></span>
                            <span class="text-highlight">WEBURL</span><span class="text-bold">Shortener</span>
                        </a>
                    </h1>
                    
                </div>             
            </div>
        </header>
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><i class="icon fa fa-paper-plane"></i> Quick Start</h1>
                </div>
                <div class="doc-body row">
                    <div class="doc-content col-md-9 col-12 order-1">
                        <div class="content-inner">
                            
                            <section id="running-section" class="doc-section">
                                <h2 class="section-title">Running the App Locally</h2>
                                
                                <div id="running1"  class="section-block">
                                    <h3 class="block-title">Step One</h3>
                                    <p>
                                    	To be able to run this Spring Boot app you will need to first build it. To build and package the Spring Boot app into a single executable Jar file with a Maven, use the below command. You will need to run it from the project folder which contains the pom.xml file.
                                    </p>
                                    <div class="code-block">
                                        <pre><code class="language-git">mvn clean install</code></pre>
                                    </div>
                                </div>
                                
                                <div id="running2"  class="section-block">
                                    <h3 class="block-title">Step Two</h3>
                                    <p>
                                    	To run the app from a terminal window you can use the java -jar command. This is provided if your Spring Boot app was successfully packaged as an executable jar file in the previous step.
                                    </p>
                                    
                                    <div class="code-block">
                                        <pre><code class="language-git">java -jar target/weburl-shortener-0.0.1-SNAPSHOT.jar</code></pre>
                                    </div>
                                    
                                    <p>
                                    	You can also use Maven plugin to run the app. Use the below command to run your Spring Boot app with Maven plugin:
                                    </p>
                                    
                                    <div class="code-block">
                                        <pre><code class="language-git">mvn spring-boot:run</code></pre>
                                    </div>
                                    
                                    <p>
                                    	You can follow any/all of the above commands, or simply use the run configuration provided by your favorite IDE and run/debug the app from there for development purposes. 
                                    	Once the server is up, you should be able to access the home page at the following URL:
                                    </p>
                                    
                                    <p>
                                    	<a href="http://localhost:8080">http://localhost:8080</a>
                                    </p>
                                    
                                </div>
                            </section>
                            
                            <section id="using-section" class="doc-section">
                                <h2 class="section-title">Using the App</h2>
                                <div class="section-block">
                                    <p>
                                        The app configuration is done via REST APIs. The available api endpoints are as follows:
                                    </p>
                                    
                                    <ul class="list">
   										<li><a href="http://localhost:8080/account" target="_blank">http://localhost:8080/account</a> (HTTP:POST)</li>
   										<li><a href="http://localhost:8080/register" target="_blank">http://localhost:8080/register</a> (HTTP:POST)</li>
   										<li><a href="http://localhost:8080/statistic" target="_blank">http://localhost:8080/statistic</a> (HTTP:GET)</li>
   										<li><a href="http://localhost:8080/statistic" target="_blank">http://localhost:8080/statistic/{accountId}</a> (HTTP:GET)</li>
   									</ul>
   									
                                </div>
                                
                                <div id="using1"  class="section-block">
                                	<h3 class="block-title">Creating Account</h3>
                                	
                                	<p>
                                        In order to create short urls, user first needs to create account. To create account, send HTTP POST request to this endpoint:
                                    </p>
                                    
                                    <ul class="list">
                                    	<li><a href="http://localhost:8080/account">http://localhost:8080/account</a></li>
                                    </ul>
                                    
                                    <p>
                                    	 with this payload in the request body:
                                    </p>
                                    
                                    <div class="code-block">
                                        <pre><code class="language-javascript">{ accountId : 'myAccountId'}</code></pre>
                                    </div>
                                    
                                    <p>
                                    	 To call api endpoints you can use any rest api clients such as <a href="https://www.getpostman.com" target="_blank">Postman</a>
                                    	 or use command-line tool 'curl':
                                    </p>
                                    
                                    <div class="code-block">
                                    	<pre><code class="language-git">curl -d '{"accountId" : "myAccountId"}' -H 'Content-Type: application/json' http://localhost:8080/account</code></pre>
                                    </div>
                                    
                                    <p>
                                    	If request was successful, the service should respond with the status '201 CREATED' and return new account password in the response body:
                                    </p>
                                    
                                    <div class="code-block">
                                    	<pre><code class="language-git">{"password" : "0qvo5mVZ", "success" : true, "description" : "Account created successfully."}</code></pre>
                                    </div>
                                </div>
                                
                                <div id="using2"  class="section-block">
                                	<h3 class="block-title">Registering Url</h3>
                                
                                	<p>
                                    	After creating account and obtaining the password, you can register as many web urls as you like by sending HTTP POST request to this endpoint:
                                    </p>
                                    
                                    <ul class="list">
                                    	<li><a href="http://localhost:8080/register">http://localhost:8080/register</a></li>
                                    </ul>
                                    
                                    <div class="code-block">
                                    	<pre><code class="language-git">curl --user myAccountId:myPassword -d '{"url" : "http://www.mylongurl.com", "redirectType": 301}' -H 'Content-Type: application/json' http://localhost:8080/register</code></pre>
                                    </div>
                                    
                                    <p>
                                    	 The required params are:
                                    </p>
                                    
                                    <ul class="list">
                                    	<li><strong>url</strong> - web address to be converted to short url.</li>
                                    	<li><strong>redirectType</strong> - type of redirection that should occur when visiting short url (301 or 302).</li>
                                    </ul>
                                    
                                    <p>
                                    	 The service requires <strong>'Basic Authentication'</strong> so you can embed the username and password combination inside request using curl '--user' option. 
                                    </p>
                                    
                                    <p>
                                    	 Alternatively, you could create 'Base64' hash of 'username:password' combination and add it to the requests 'Authorization' header with the value of 'Basic YourBase64EncodedString'.
                                    </p>
                                    
                                    <p>
                                    	If request was successful, the service should respond with the status '201 CREATED' and return new short url in the response body:
                                    </p>
                                    
                                    <div class="code-block">
                                    	<pre><code class="language-git">{"shortUrl" : "http://localhost:8080/qNRbkN"}</code></pre>
                                    </div>
                                
                                </div>	
                                
                                <div id="using3"  class="section-block">
                                	<h3 class="block-title">Testing the Short Url</h3>
                                	
                                	<p>
                                    	 When the short url that was retrieved in the previous step is visited, the web browser
                                    	 should be redirected to the originally registered web url.
                                    </p>
                                    
                                    <p>
                                    	 If the short url could not be found in the system, the web browser will be redirected back to the home page.
                                    </p>
                                	
                                </div>
                                
                            </section>
                            
                            <section id="statistics-section" class="doc-section">
                                <h2 class="section-title">Statistics</h2>
                                
                                <div id="statistics1"  class="section-block">
                                	<h3 class="block-title">Regular Accounts</h3>
                                	
                                	<p>
                                    	 Each user can view statistics for all of his registered urls by sending HTTP GET request to this endpoint:
                                    </p>
                                    
                                    <ul class="list">
                                    	<li><a href="http://localhost:8080/statistic">http://localhost:8080/statistic</a></li>
                                    </ul>
                                    
                                    <div class="code-block">
                                    	<pre><code class="language-git">curl --user myAccountId:myPassword -H 'Content-Type: application/json' http://localhost:8080/statistic</code></pre>
                                    </div>
                                    
                                    <p>
                                    	 The service will respond with the list of the urls and number of hits for each url:
                                    </p>
                                    
                                    <div class="code-block">
                                    	<pre><code class="language-git">
{
	"http://www.mylongurl1.com" : 3,
	"http://www.mylongurl2.com" : 8,
	"http://www.mylongurl3.com" : 4,
}
										</code></pre>
                                    </div>
                                	
                                </div>
                                
                                <div id="statistics2"  class="section-block">
                                	<h3 class="block-title">Admin Account</h3>
                                	
                                	<p>
                                    	 There is an 'Admin' user (<strong>username:</strong> admin, <strong>password:</strong> admin, ) on the system which is always created by default when the app is initially booted.
                                    </p>
                                    
                                    <p>
                                    	 If the request is authenticated with <strong>'admin:admin'</strong> credentials, visiting the <a href="http://localhost:8080/statistic">http://localhost:8080/statistic</a> url
                                    	 will return cumulative sum for all urls in the system.
                                    </p>
                                    
                                    <p>
                                    	 Also, requests authenticated with 'admin:admin' credentials are able to retrieve statistics on a 'per-account-basis' by appending 'accountId' on the request url:
                                    </p>
                                    
                                    <div class="code-block">
                                    	<pre><code class="language-git">curl --user admin:admin -H 'Content-Type: application/json' http://localhost:8080/statistic/someAccountId</code></pre>
                                    </div>
                                	
                                </div>
                                
                            </section>
                            
                            <section id="additional-section" class="doc-section">
                                <h2 class="section-title">Additional</h2>
                                
                                <p></p>
                                
                                <div class="callout-block callout-warning">
                                    <div class="icon-holder">
                                        <i class="fas fa-bug"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="callout-title">Service Data Persistance</h4>
                                        <p>Please note that all of the registered urls and all of the statistics will be lost on each app restart. <br/> Currently, the embedded H2 database is configured to store its data only in memory.</p>
                                    </div>
                                </div>
                                	
                            </section>
                            
                        </div>
                    </div>
                    
                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">
                            <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                                <a class="nav-link scrollto" href="#running-section">Running the App Locally</a>
                                   <nav class="doc-sub-menu nav flex-column">
                                       <a class="nav-link scrollto" href="#running1">Step One</a>
                                       <a class="nav-link scrollto" href="#running2">Step Two</a>
                                   </nav>
                                <a class="nav-link scrollto" href="#using-section">Using the App</a>
                                   <nav class="doc-sub-menu nav flex-column">
                                       <a class="nav-link scrollto" href="#using1">Creating Account</a>
                                       <a class="nav-link scrollto" href="#using2">Registering Url</a>
                                       <a class="nav-link scrollto" href="#using3">Testing the Short Url</a>
                                   </nav>
								<a class="nav-link scrollto" href="#statistics-section">Statistics</a>
                                   <nav class="doc-sub-menu nav flex-column">
                                       <a class="nav-link scrollto" href="#statistics1">Regular Accounts</a>
                                       <a class="nav-link scrollto" href="#statistics2">Admin Account</a>
                                   </nav>
                                <a class="nav-link scrollto" href="#additional-section">Additional</a>
                            </nav>
                        </div>
                    </div>
                    
                </div>
        	</div>
    	</div>
    </div>
    
    <footer id="footer" class="footer text-center">
        <div class="container">
            <small class="copyright" style="font-weight: 700;">Developed with <i class="fas fa-heart"></i> by <a href="www.linkedin.com/in/vedranr" target="_blank">Vedran Rašić</a></small>
        </div>
    </footer>
           
    <script type="text/javascript" src="assets/plugins/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>      
    <script type="text/javascript" src="assets/plugins/stickyfill/dist/stickyfill.min.js"></script>                                                             
    <script type="text/javascript" src="assets/js/main.js"></script>
    
</body>
</html> 

